*{
    padding: 0;
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
}

/*início header*/

header {
    display: flex;
    width: 100%;
    height: 117px;
    background-color: #2E948A;
}

nav {
    width: 100%;
    display: flex;
    margin-right: 103px;
    justify-content: space-between;
}

header nav button {
    display: none;
}

.logo-header{
    display: flex;
    width: 164px;
    height: 64px;
    margin-top: 20px;
    margin-left: 82px;

}

.menu-header {
    display: flex;
    gap: 42px;
    align-items: center;
}

.menu-header a {
    text-decoration: none;
    font-size: 20px;
    color: #FDFDFD;
    gap: 42px;
    text-transform: uppercase;
}

/* fim estilo header*/

/* inicio estilo main */


.container-1 {                  /* inicio estilo container 1 */
    display: flex;
    justify-content: space-around;
    background: #ffffff;
    width: 100%;
    height: 712px;
}

.text-container-1 {
    display: flex;
    justify-content: space-around;
    margin-top: 125px;
    gap: 100px;
    
    
}

.text-container-1 h1 {
    display: flex;
    color: #FF4081;
    width: 400px;
    font-size: 60px;
    margin-bottom: 19px;
}

.text-container-1 p {
    display: flex;
    width: 462px;  
    font-size: 27px;
    color: #555555;
    margin-bottom: 38px;
}

.text-container-1 button {
    display: flex;
    padding: 8px 26px;
    box-sizing: border-box;
    width: 268px;
    height: 51px;
    border: 2px solid #FF4081;
    border-radius: 62px;
    color:#FF4081;
    font-size: 27px;
    background-color: #ffffff;
}

.image-container-1{
    display: flex;
    width: 501px;
    height: 511px;
    margin-top: 130px;
}                     

/* fim estilo container 1 */



.container-2 {          /* inicio estilo container 2 */
    display: flex;
    background-color: #F6F6F6;
    width: 100%;
    height: 730px;
    justify-content: space-around;
    align-items: center;
}

.banner-container-2 {
    width: 340px;
    text-align: center;
    align-items: center;
}

.banner-container-2 img {
    width: 288px;
    height: 270px;
    justify-content: center;
    text-align: center;
} 

.banner-container-2 h3 {
    font-size: 25px;
    text-align: center;
    color: #FF4081;
    margin-top: 45px;
    margin-bottom: 23px;
}

.banner-container-2 p {
    font-size: 17px;
    text-align: center;
    color: #000000;
    margin-bottom: 41px;
}

.banner-container-2 button {
    width: 233px;
    height: 51px;
    background: #FF4081;
    border-radius: 62px;
    font-size: 20px;
    color: #ffffff;
    border: none;
}

/* fim estilo container 2 */



.container-3 {              /* inicio estilo container 3 */
    background-color: #ffffff;
    width: 100%;
    height: 701px;
}

.colunms {
    display: flex;
    margin-top: 78px;
    justify-content: space-around;
}

.container-3 h2 {
    display: flex;
    margin-top: 119px;
    margin-left: 128px;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 37px;
    color: #009688;

}

.social-proof {
    display: flex;
    margin-top: 86px;
    
}      

.social-proof img {
    width: 104px;
    height: 104px;
    margin-right: 28px;
}

.social-proof p {
    width: 363px;
    font-size: 18px;
    font-family: 'Nunito';
    font-style: normal;
    margin-bottom: 10px;
}



/* fim estilo container 3 */



.container-4 {              /* inicio estilo container 4 */
    display: flex;
    background-color: #F6F6F6;
    width: 100%;
    height: 730px;
    flex-direction: column;
    
    
}

.content-container-4 {
    display: flex;
    justify-content: space-around;
    width: 100%;
   
}

.content{
    width: 319px;
    
}

.container-4 h2 {
    display: flex;
    margin-left: 60px;
    font-size: 37px;
    color: #009688;
    margin-top: 91px;
    margin-bottom: 73px;
}

.content-banner {
    display: flex;
    width: 319px;
    height: 193px;
    background-color: #C4C4C4;
}

.content h3 {
    margin-top: 11px;
    font-size: 27px;
    line-height: 31px;
    color: #009688;
}

.button-container-4 {
    text-align: center;
}

.container-4 button {
    box-sizing: border-box;
    width: 289px;
    height: 51px;
    border: 2px solid #FF4081;
    border-radius: 62px;
    color:#FF4081;
    font-size: 25px;
    background-color: #F6F6F6;
    margin-top: 101px;
}

/* fim estilo container 4 */


/* inicio página contato */

.container-contact{
    display: flex;
    width: 100%;
    height: 625px;
    justify-content: space-around;
}

.form-contact form h1 {
    display: flex;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 46px;
    color: #FF4081;
    margin-top: 105px;
    margin-bottom: 44px;
}

.style-input{
    display: flex;
    margin-bottom: 15px;
    width: 493px;
    height: 32px;
    box-sizing: border-box;
    background: #FFFFFF;
    border: 1px solid #686868;
    border-radius: 7px;
    padding-left: 15px;
}

.style-textarea {
    display: flex;
    width: 493px;
    height: 193px;
    margin-bottom: 15px;
    box-sizing: border-box;
    background: #FFFFFF;
    border: 1px solid #686868;
    border-radius: 7px;
    padding-top: 10px;
    padding-left: 15px;

}

.style-button {
    width: 108px;
    height: 32px;
    background: #FF4081;
    border-radius: 50px;
    border: none;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    text-align: center;
    text-transform: lowercase;
    color: #FFFFFF;
    padding: 5px 7px 5px 7px;
}

.image-contact {
    display: flex;
    width: 444px;
    height: 444px;
    margin-top: 82px;
}



/* início do estilo footer*/

footer {
    display: flex;
    width: 100%;
    height: 207px;
    background-color: #2E948A;
    justify-content: space-around;
}

.logo-footer {
    display: flex;
    width: 198px;
    height: 58px;
    margin-top: 53px;
}

.nav-footer{
    display: flex;
    width: 71px;
    height: 83px;
    margin-top: 53px;
}

.menu-footer a{
    display: flex;
    text-decoration: none;
    font-size: 20px;
    line-height: 33px;
    color: #FFFFFF;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
}

.button-footer {
    margin-top: 50px;
    text-align: center;
}

.button-footer button {
    width: 289px;
    height: 51px;
    padding: 7px 7px 7px 7px;
    box-sizing: border-box;
    margin-bottom: 13px;
    border: 2px solid #FFFFFF;
    border-radius: 62px;
    font-size: 20px;
    text-align: center;
    color: #FFFFFF;
    background-color: #2E948A;
    cursor: pointer;
}

/* início do responsivo */

/* ipad e tablet */

@media (max-width: 820px) {
    
    /*início header*/

    header{
        align-items: center;
        flex-direction: column;
    }

    .logo-header img{
        width: 144px;
        height: 44px;
        margin-top: 15px;
        margin-left: 8px;
    
    }

    .menu-header {
        display: block;
        justify-content: column;
        text-align: center;
        margin-top: 20px;
        margin-right: 25px;
        line-height: 25px;
    }

    .menu-header a {
        display: block;
        font-size: 15px;
        justify-content: column;
    }



    
    .container-1 {                /* inicio estilo container 1 */
        height: 612px;
    }

    .text-container-1 {
        width: 100%;
        text-align: center;
    }

    #posiction-button{
        width: 100%;
    }

    .text-container-1 h1 {
        width: 100%;
    }
    
    .text-container-1 p {
        width: 100%;
        justify-content: center;
        text-align: center;
    }

    .text-container-1 button{
        display: inline;
        
        
    }
    
    .image-container-1{
        display: none;
    }
    
    /* fim estilo container 1 */

    .container-2 {          /* inicio estilo container 2 */
        height: 1930px;
        flex-direction: column;
        align-items: center;
    }

    .banner-container-2 {
        margin-top: 50px;
        margin-bottom: 50px;
    }

    .container-3 {              /* inicio estilo container 3 */
        background-color: #ffffff;
        width: 100%;
        height: 1401px;
        text-align: center;
        
    }
    
    .colunms {
        margin-top: 38px;
        flex-direction: column;
        text-align: center;
        
    }

    .social-proof {
        flex-direction: column;
        align-items: center;
        
    }

    .social-proof img {
        margin-bottom: 20px;
        margin-right: 0px;
    }

    .container-3 h2 {
        margin-top: 100px;
        margin-left: 0px;
        align-items: center;
        text-align: center;
        justify-content: center;
        
    }

    .container-4 {              /* inicio estilo container 4 */
        height: 1430px;
    }
    
    .content-container-4 {
        align-items: center;
        flex-direction: column;
        text-align: center;
    }

    .container-4 h2 {
        margin-left: 0px;
        margin-top: 91px;
        margin-bottom: 73px;
        align-items: center;
        text-align: center;
        justify-content: center;
    }

    .content-banner {
        margin-top: 30px;
    }

    /* pagina de contato */

    .style-input{
        width: 293px;
    }
    
    .style-textarea {
        width: 293px;
    
    }

    /* inicio página contato */

    .image-contact {
        display: none;
    }

    /* início do footer */

    footer {
        height: 600px;
        flex-direction: column;
        align-items: center;
    }

    .logo-footer {
        display: contents;
        margin-top: 0px;
        width: 0px;
        height: 0px;
    }
    
    .nav-footer{
        display: flex;
        width: 0px;
        height: 0px;
        margin-top: 0px;
    }
    
    .menu-footer a{
        flex-direction: column;
        align-items: center;
    }
    
    .button-footer {
        margin-top: 50px;
        text-align: center;
    }

    .button-footer button {
        width: 210px;
        height: 51px;

    }

}



